Package: miitoumii
Homepage: tgrcode.com
Version: 1.0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 20000
Maintainer: TheGreatRambler
Description: Convert Mii files to UMii files
Depends: libfmt7 (= 7.1.3+ds1-5),
	libzxingcore1 (= 1.1.1-2)